$prefix: "ec-";

$container-padding-x: 1.5rem !default;

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
) !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
) !default;

$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
) !default;

$grid-columns: 12 !default;
$grid-row-columns: 6 !default;
$grid-gutter-width: 1.5rem !default;

$gutters: $spacers !default;

// TODO: update colors

$colors: (
  primary: red,
  secondary: green,
  success: blue,
  danger: yellow,
  warning: orange,
  info: purple,
  light: gray,
  dark: black,
) !default;

// TODO: update color

$border-vars: (
  width: 1px,
  style: solid,
  color: #000,
) !default;

$border-widths: (
  1: 1px,
  2: 2px,
  3: 3px,
  4: 4px,
  5: 5px,
) !default;
