@use "sass:map";
@use "../functions/generate-color-scale" as *;

$prefix: "ec-";
$transitions-duration: 0.3s !default;
$transitions: ease-in-out, ease-in, ease-out, linear !default;

$font-sizes: (
  sm: 0.75,
  md: 1,
  lg: 1.25,
  xl: 1.5,
  xxl: 2,
  xxxl: 3,
);

$container-padding-x: 1.5rem !default;

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
) !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
) !default;

$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
) !default;

$grid-columns: 12 !default;
$grid-row-columns: 6 !default;
$grid-gutter-width: 1.5rem !default;

$gutters: $spacers !default;

$base-colors: (
  white: #ffffff,
  black: #171719,
  blue: #6666ff,
  red: #cc1f4f,
  green: #51d253,
  purple: #c05be0,
  yellow: #e6fd53,
) !default;

$base-bg-colors: map.merge(
  $base-colors,
  (
    main: #0c0c16,
  )
) !default;

$border-vars: (
  width: 1px,
  style: solid,
  color: map.get($base-colors, black),
  radius: 0.375rem,
) !default;

$border-widths: (
  1: 1px,
  2: 2px,
  3: 3px,
  4: 4px,
  5: 5px,
) !default;

$border-radius: (
  sm: 0.25rem,
  lg: 0.5rem,
  xl: 1rem,
  xxl: 2rem,
  pill: 50rem,
  circle: 50%,
) !default;

$icon-sizes: (
  sm: 12px,
  md: 16px,
  lg: 20px,
  xl: 24px,
  xxl: 32px,
  xxxl: 40px,
) !default;

$button-sizes: (
  sm: (
    padding-y: 0.25rem,
    padding-x: 0.5rem,
    font-size: var(--#{$prefix}font-size-sm),
  ),
  md: (
    padding-y: 0.375rem,
    padding-x: 0.75rem,
    font-size: var(--#{$prefix}font-size-md),
  ),
  lg: (
    padding-y: 0.5rem,
    padding-x: 1rem,
    font-size: var(--#{$prefix}font-size-lg),
  ),
) !default;

$button-variations: (
  primary: (
    color: black,
    bg-color: map.get($base-colors, yellow),
    bg-hover-color: generate-darker-color(map.get($base-colors, yellow), 98),
  ),
  secondary: (
    color: white,
    bg-color: map.get($base-colors, blue),
    bg-hover-color: generate-darker-color(map.get($base-colors, blue), 90),
  ),
  success: (
    color: white,
    bg-color: map.get($base-colors, green),
    bg-hover-color: generate-darker-color(map.get($base-colors, green), 90),
  ),
  danger: (
    color: white,
    bg-color: map.get($base-colors, red),
    bg-hover-color: generate-darker-color(map.get($base-colors, red), 90),
  ),
  white: (
    color: black,
    bg-color: map.get($base-colors, white),
    bg-hover-color: generate-darker-color(map.get($base-colors, white), 90),
  ),
  black: (
    color: white,
    bg-color: map.get($base-colors, black),
    bg-hover-color: generate-color-scale(map.get($base-colors, black), 90),
  ),
) !default;

$form-utilities: (
  bg-color: #26776d,
  border-color: #ededee,
  box-shadow: 0 0 0 0.25rem rgba(#26776d, 0.25),
);

$form-utilities-colors: (
  primary: white,
  secondary: black-30,
  disabled: black-60,
  invalid: red-80,
);
