@use "../variables/global" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1;
  font-family: sans-serif;
  background-color: var(--#{$prefix}main-bg-color);
  color: var(--#{$prefix}main-text-color);
}

img,
video {
  max-width: 100%;
  height: auto;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  color: inherit;
  text-decoration: underline;
  transition: var(--#{$prefix}transition-ease-in-out);

  &:hover {
    color: var(--#{$prefix}color-yellow);
  }

  &:focus {
    outline: 2px dashed var(--#{$prefix}color-yellow);
    outline-offset: 2px;
  }
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
