:root {
  --ec-story-bg: color-mix(in srgb, var(--ec-color-green-100) 15%, transparent);
  --ec-story-border: color-mix(in srgb, var(--ec-color-green-100) 50%, transparent);
  --ec-alert-bg: color-mix(in srgb, var(--ec-color-blue-100) 15%, transparent);
  --ec-alert-border: color-mix(in srgb, var(--ec-color-blue-100) 50%, transparent);
  --ec-alert-padding: 1rem;
  --ec-alert-margin: 1rem;
}

body {
  color: var(--ec-color-black);
}

.box,
.box-wrapper {
  min-width: fit-content;
  border: 1px solid var(--ec-story-border, --ec-color-green-100);
  background-color: var(--ec-story-bg, --ec-color-green-100);
  font-family: system-ui;
}

.box-active {
  background-color: color-mix(in srgb, var(--ec-color-green-100) 60%, white);
  border: 1px solid color-mix(in srgb, var(--ec-color-green-100) 100%, white);
}

.box-primary-active {
  background-color: color-mix(in srgb, var(--ec-color-yellow-100) 60%, white);
  border: 1px solid color-mix(in srgb, var(--ec-color-yellow-100) 100%, white);
}

.box-secondary-active {
  background-color: color-mix(in srgb, var(--ec-color-blue-100) 60%, white);
  border: 1px solid color-mix(in srgb, var(--ec-color-blue-100) 100%, white);
}

blockquote {
  width: 100%;
  border: var(--ec-alert-border, 1px solid var(--ec-color-blue-100));
  background-color: var(--ec-alert-bg, var(--ec-color-blue-100));
  margin: var(--ec-alert-margin) 0 !important;
  padding: var(--ec-alert-padding) !important;
  border-left: unset !important;
  position: relative;
}

blockquote::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background-color: var(--ec-alert-border);
}

blockquote > * {
  margin: 0 !important;
}

.bg-main {
  background-color: var(--ec-main-bg-color) !important;
}

/* Used for border story */

div[data-box-example] {
  div {
    background-color: #f8f9fa;
  }
}
